
/Assets/ElvGames
/Assets/Layer Lab
Assets/ElvGames.meta
Assets/Layer Lab.meta
/.vscode
/.plastic
/Library
/Logs
/Packages
/Temp
/UserSettings
*.sln
*.csproj
/Assets/Scenes
/.idea
/Assets/The DARK Series
Assets/The DARK Series.meta
PB_1.sln.DotSettings.user
/obj
*.DS_Store

/Assets/Scenes
/Assets/SuperMaxim
Assets/SuperMaxim.meta
